.button
  border: 0
  cursor: pointer
  border-radius: 8px
  background: #fff
  padding: 8px 32px
  font-size: 14px
  letter-spacing: .1rem

.buttonPrimary
  background: #7a72ff
  color: #fefefe

.buttonDanger
  background: #d64045
  color: #fefefe
