.checkbox
  display: block
  border-radius: 50%
  border: 1px solid #c6c6c6
  padding: 4px
  height: 16px
  width: 16px
  cursor: pointer
  color: #fefefe
  display: flex
  justify-content: center
  align-items: center

.checkbox--checked
  background: #7a72ff

.checkbox__input
  border: 0
  appearance: none
  position: absolute