.main__header
  padding: 16px 32px
  border-bottom: 1px solid #f0f0f0

.main__header-title
  font-size: 16px
  margin: 0

.main__body
  max-width: 986px
  margin: 64px auto

.icon
  cursor: pointer
  color: #666

.icon--check
  color: #fefefe

.button
  border: 0
  cursor: pointer
  border-radius: 8px
  background: #fff
  padding: 8px 32px
  font-size: 14px
  letter-spacing: .1rem

.button--primary
  background: #7a72ff
  color: #fefefe

.button--danger
  background: #d64045
  color: #fefefe
