.listSetting
  padding: 16px
  margin-bottom: 32px
  display: flex
  justify-content: flex-end

.listSettingLabel
  // Add styling if needed

.listSettingInput
  // Add styling if needed

.checkbox
  display: block
  border-radius: 50%
  border: 1px solid #c6c6c6
  padding: 4px
  height: 16px
  width: 16px
  cursor: pointer
  color: #fefefe
  display: flex
  justify-content: center
  align-items: center

.checkboxChecked
  background: #7a72ff

.checkboxInput
  border: 0
  appearance: none
  position: absolute
