.list__item
  display: flex
  align-items: center
  width: 100%
  border-bottom: 1px solid #f0f0f0
  transition: opacity .8s

.list__item--completed-dismissing
  opacity: 0

.list__item-col
  box-sizing: border-box
  flex: 1
  padding: 16px
  border-right: 1px solid #f0f0f0

.list__item-col--name
  cursor: pointer
  flex: 4

.list__item-col--deadline
  cursor: pointer

.list__item-col--checkbox
  display: flex
  justify-content: center

.list__item-col--actions
  font-size: 12px
  display: flex
  justify-content: center

.list__item--fadeout
  opacity: 0
  transition: opacity 1.2s ease, transform 1.2s ease
  pointer-events: none
