.list
  padding: 32px

.list__container
  list-style: none
  padding: 0

.list__header
  display: flex
  align-items: center
  border-bottom: 1px solid #f0f0f0
  font-size: 12px

.list__header-item
  flex: 1
  padding: 8px 16px
  border-right: 1px solid #f0f0f0
  font-size: 12px

.list__header-item:last-child
  border-right: 0

.list__header-item--name
  flex: 4

.list__input
  box-sizing: border-box
  width: 100%
  padding: 4px 14px
  border-radius: 6px