.list
  padding: 32px

.listContainer
  list-style: none
  padding: 0

.listHeader
  display: flex
  align-items: center
  border-bottom: 1px solid #f0f0f0
  font-size: 12px

.listHeaderItem
  flex: 1
  padding: 8px 16px
  border-right: 1px solid #f0f0f0
  font-size: 12px

.listHeaderItem:last-child
  border-right: 0

.listHeaderItemName
  flex: 4

.listInput
  box-sizing: border-box
  width: 100%
  padding: 4px 14px
  border-radius: 6px