.listItem
  display: flex
  align-items: center
  width: 100%
  border-bottom: 1px solid #f0f0f0
  transition: opacity .8s

.listItemCompletedDismissing
  opacity: 0

.listItemCol
  box-sizing: border-box
  flex: 1
  padding: 16px
  border-right: 1px solid #f0f0f0

.listItemColName
  cursor: pointer
  flex: 4

.listItemColDeadline
  cursor: pointer

.listItemColCheckbox
  display: flex
  justify-content: center

.listItemColActions
  font-size: 12px
  display: flex
  justify-content: center

.listItemFadeout
  opacity: 0
  transition: opacity 1.2s ease, transform 1.2s ease
  pointer-events: none
